body{
    background-color: #0b0016;
    margin: 0;
    overflow-x: hidden;
}
.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .header-background{
    height: 900px;
    background-image: url(backgroun1);
    background-color: rgba(0,0,0,45%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
  a img{
    width: auto;
    height: 6vb;
  }
  a p{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 0;
    vertical-align: middle;
    height: auto;
  }
  a{
    line-height: 3;
    text-decoration: none;
  }
  header div,img{
    display: inline-block;
  }
  .header-main{
    width: 76%;
    height: 10vb;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
  }
  .header-bottom{
    height: auto;
    vertical-align: middle;
    justify-content: space-between !important;
    display: flex;
  }
  .vertical-middle{
    vertical-align: middle;
  }
  .header-right{
    width: 45%;
    height: 5vb;
  }
  .header-right a{
    display: inline-block;
  }
  .btn-quote{
    color: white;
    background-color: #d6a04c;
    border: solid #d6a04c 1px;
    padding: 0.5% 7%;
    font-size: 16px;
    margin-left: 6%;
    transition: 0.5s;
    cursor: pointer;
  }
  .btn-quote:hover{
    color: #d6a04c;
    background-color: transparent;
  }
  #menu{
    position: relative;
    width: 10%;
    height: 5vb;
    margin-left: 8%;
    vertical-align: middle;
  }
  #menu>span{
    display: inline-block;
    border: solid white 1.5px;
    width: 40%;
  }
  #check{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 100%;
    left: -20%;
    opacity: 0;
  }
  #xR{
    transition: 1s;
    display: inline-block;
    border: solid white 1.5px;
    position: absolute;
    width: 10%;
    transform: rotateZ(-45deg);
    left: 1000%;
    top: 60%;
    z-index: 1;
    opacity: 0%;
  }
    #xL{
      transition: 1s;
      display: inline-block;
      border: solid rgb(255, 255, 255) 1.5px;
      width: 10%;
      transform: rotateZ(45deg);
      position: absolute;
      left: 1000%;
      top: 60%;
      z-index: 1;
      opacity: 0%;  
  }
  #menu-open{
    transition: all 1s;
    position: absolute;
    background-color: #111111;
    height: 100vb;
    width: 500%;
    top: -180%;
    left: 1000%;
  }
  #check:checked~#menu-open{
    opacity: 1;
    position: absolute;
    left: 250%;
  }
  #check:checked~#xR{
    opacity: 1;
    left: 300%;
  }
  #check:checked~#xL{
    opacity: 1;
    left: 300%;
  }
  #check:checked{
    left: 270%;
  }
  #check:hover~#xR{
    border-color: #d6a04c;
  }
    #check:hover~#xL{
    border-color: #d6a04c;
  }
  #menuLi{
    margin-top: 50%;
    color: white;
    list-style-type: none;
    font-size: 1.6rem;
    text-align: center;
    padding: 0;
  }
  #menuLi > li{
    margin-bottom: 7%;
  }
